<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%== title %></title>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%#= javascript_include_tag "main" %>

  <script type="text/javascript">
    function setTheme() {
      let theme = localStorage.getItem('theme');
      if (!["light", "dark"].includes(theme)) {
        theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      }
      document.documentElement.setAttribute('data-bs-theme', theme);
    }

    setTheme();
    document.addEventListener('turbo:load', setTheme);
  </script>

  <link rel="alternate" type="application/rss+xml" title="Island94.org" href="<%= feed_url(format: :xml) %>">

  <%= yield :head %>
</head>
<body data-controller="search">
  <%= render "layouts/navbar" %>
  <%= yield %>
</body>
</html>
